:root {
    --table-border: 1px solid whitesmoke;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #333333;
    padding: 50px;
    box-sizing: border-box;
}
h1 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: whitesmoke;
}
h2{
    text-align: center;
    color: whitesmoke;
}
table,
td,
th {
    border: var(--table-border);
}
table {
    border-collapse: collapse;
    text-align: center;
    color: whitesmoke;
    margin: auto;
}
table a{
    color: whitesmoke;
}
th {
    background-color: whitesmoke;
    color: #333333;
}
th,
td {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    max-width: 450px;
    min-width: 300px;
    margin: auto;
    margin-top: 50px;
}
form input,
form select {
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}
form input[type="submit"] {
    width: 50%;
    margin: auto;
}
a.nav-button {
    background-color: aliceblue;
    padding: 5px 15px;
    text-decoration: none;
    color: #333333;
    position: absolute;
    border: 1px solid whitesmoke;
    top: 5vh;
    border-radius: 5px;
    scale: 1.3;
    transition: color 0.3s, background-color 0.3s;
}
a.nav-button:hover {
    cursor: pointer;
    color: whitesmoke;
    background-color: #333333;
}
a.nav-button.left {
    left: 5vw;
    padding-left: 30px;
}
a.nav-button.left::before {
    content: ""; /* No text content */
    position: absolute; /* Position absolutely within the anchor */
    top: 50%; /* Center vertically */
    left: 10px; /* Align with the left edge */
    transform: translateY(-50%); /* Center the triangle vertically */
    width: 0;
    height: 0;
    border-top: 7px solid transparent; /* Triangle height */
    border-bottom: 7px solid transparent; /* Triangle height */
    border-right: 10px solid #333; /* Triangle width and color */
    transition: border-color 0.3s;
}
a.nav-button.right {
    right: 5vw;
    padding-right: 30px;
}
a.nav-button.right::before {
    content: ""; /* No text content */
    position: absolute; /* Position absolutely within the anchor */
    top: 50%; /* Center vertically */
    right: 10px; /* Align with the left edge */
    transform: translateY(-50%); /* Center the triangle vertically */
    width: 0;
    height: 0;
    border-top: 7px solid transparent; /* Triangle height */
    border-bottom: 7px solid transparent; /* Triangle height */
    border-left: 10px solid #333; /* Triangle width and color */
    transition: border-color 0.3s;
}
a.nav-button.left:hover::before {
    border-right-color: whitesmoke;
}
a.nav-button.right:hover::before {
    border-left-color: whitesmoke;
}

/**/
div.index-choices{
    display: flex;
    flex-direction: column;
    /*background-color: chartreuse;*/
    height: 35vh;
    min-height: 250px;
    justify-content: space-around;
    width: 50%;
    max-width: 420px;
    min-width: 320px;
    margin: auto;
    margin-top: 50px;
}
div.index-choices a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    color: #333;
    text-decoration: none;
    background-color: whitesmoke;
    height: 50px;
    font-size: 22px;
    transition: background-color 0.3s, color 0.3s;
}
div.index-choices a:hover{
    cursor: pointer;
    background-color: transparent;
    color: whitesmoke;
}
div.index-choices a::after{
    content: ""; /* No text content */
    position: absolute; /* Position absolutely within the anchor */
    top: 50%; /* Center vertically */
    right: 10px; /* Align with the left edge */
    transform: translateY(-50%); /* Center the triangle vertically */
    width: 0;
    height: 0;
    border-top: 7px solid transparent; /* Triangle height */
    border-bottom: 7px solid transparent; /* Triangle height */
    border-left: 10px solid transparent; /* Triangle width and color */
    transition: border-color 0.3s;
}
div.index-choices a:hover::after{
    border-left-color: whitesmoke;
}